*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;900&display=swap');

/* header styles start here  */

.btn-primary{
    background:#ff9003;
    border-radius: 8px;
    padding:20px 25px;
    border:0;
    color:#fff;
    font-size:1.25rem;
    font-weight: 600;
    cursor: pointer;
}
header{
    background:rgba(255,144,14,0.10);
    padding:50px 140px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}
nav >ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-left:30px;
    font-size:1rem;
    font-weight: 500;
}

nav li a{
    text-decoration: none;
    color:#424242;
}

.nav-logo{
    font-size:2.8rem;
    font-weight: 700;
    color:#131313;
}

/* banner-content style here  */

.banner-content{
    width:100%;
    text-align: center;
    margin:50px auto;
    
}

.banner-img > img{
    width: 100%;
}

.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color:#131313;
}

.p-style{
    font-size: 1.25rem;
    font-weight: 500;
    color:#727272;
    padding:5px;
}
.banner-description{
    color:#727272;

    margin:30px auto;
}
.banner{
    margin:20px auto
}



main{
    max-width:1400px;
    margin:0 auto;
}

.teams-section{
    display:flex;
    align-items: center;;
    /* align-content: center; */
}

.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
   
}


.teams-content{
    padding:  0px 70px 0px 70px;
}

.teams-title{
    font-size: 3rem;
    font-weight: 700;
    color:#131313;
    padding:5px 0px 5px 0px;

}

.quick-list{
    color:#727272;
    font-weight: 500;
}
.text-feature{
    color:#ff9003;
    font-weight: 700;
}

.teams-description{
    padding:15px 0px 15px 0px;
    color:#727272;
}

.teams-section{
    width:90%;
    margin:50px auto;
}



/* responsive style start here  */
/* Mobile Devices Style */
@media screen and (max-width: 576px){
    header{
        padding:20px 50px;
    }
  .nav-logo{
        font-size:2.5rem;
        text-align: center;
        margin-bottom: 20px;
    }
  .banner-title{
        font-size: 2.5rem;
    }
    nav{
        flex-direction: column;
    }
    nav>ul{
        text-align: center;
       
        justify-content: center;
    }


    .teams-section{
        flex-direction: column;
    }

    .teams-img-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .teams-content{
        padding:  20px 50px 20px 50px;
    }

    .teams-img-container{
        padding:50px 10px;
    }
}

/* Tablet Devices Style */

@media screen and (min-width: 576px) and (max-width: 960px){
    header{
        padding:20px 50px;
    }
.nav-logo{
        font-size:2rem;
        text-align: center;
        margin-bottom: 20px;
    }
.banner-title{
        font-size: 3rem;
    }
    nav{
        flex-direction: column;
    }
    nav>ul{
        text-align: center;
       
        justify-content: center;
    }


    
    .teams-section{
        flex-direction: column;
    }


    .teams-img-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .teams-content{
        padding:  20px 50px 20px 50px;
        text-align: center;;
    }


    
    .teams-img-container{
        padding:50px 10px;
    }





}


